<template>
  <div>
    <h1>Event: {{ $route.query.eventName }}</h1>
    <h3 class="text-center mt-3">Entrée votre participation</h3>
    <div class="d-flex justify-content-center p-5 text-center">
      <form @submit.prevent="createEvent">
        <div class="mb-3">
          <label for="name" class="form-label">Prénom: </label>
          <input type="text" id="name" v-model="name" class="form-control" aria-describedby="name">
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Téléphone: </label>
          <input class="form-control" type="phone" id="phone" v-model="phone_number">
          <div id="phone" class="form-text">Pour que je puisse vous contacter !</div>
        </div>
        <div>
          <button class="btn btn-warning border border-dark border-2 p-2" type="submit">Confirmer votre participation</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import axios from 'axios';
import { defineComponent } from 'vue';

export default defineComponent({
  data() {
    return {
      name: '',
      phone_number: '',
      event_id: null as number | null,     
    };
  },
  created() {
    this.event_id = parseInt(this.$route.params.eventId as string);
  },
  methods: {
    createEvent() {
      const data = {
        name: this.name,
        phone_number: this.phone_number,
        event_id: this.event_id!,
      };

      axios.post('http://localhost:8000/api/attendees', data)
        .then(response => {
          console.log(response.data);
          this.$router.push({ name: 'ListEvent', params: { eventId: this.event_id!.toString()}, query: { eventName: this.$route.query.eventName as string } })
          window.alert('Participation enregistré !');
        })
        .catch(error => {
          console.log(error);
          window.alert("Votre participation n'est pas complète!");
        });
    },
  },
});
</script>