<template>
  <div>
    <h1>Créer un événement</h1>
    <div class="d-flex justify-content-center p-5 text-center">
      <form @submit.prevent="createEvent">
        <div class="mb-3">
          <label for="name" class="form-label">Nom de l'événement: </label>
          <input type="text" id="name" v-model="name" class="form-control" aria-describedby="name">
          <div id="phone" class="form-text">Soyez créatif !</div>
        </div>
        <div class="mb-3">
          <label for="date" class="form-label">Date: </label>
          <input class="form-control" type="date" id="date" v-model="date">
        </div>
        <div class="mb-3 form-check ps-0">
          <label for="description" class="pb-2">Description:</label>
          <textarea rows="8" cols="40" class="form-control" id="description" v-model="description"></textarea>
        </div>
        <div>
          <button class="btn btn-warning border border-dark border-2 p-2" type="submit">Créer l'événement</button>
        </div>
      </form>
    </div>
  </div>
</template>
  
  <script lang="ts">
  import axios from 'axios';
  
  export default {
    data() {
      return {
        name: '',
        date: '',
        description: '',
      };
    },
    methods: {
      createEvent() {
        const data = {
          name: this.name,
          date: this.date,
          description: this.description,
        };
  
        axios.post('http://localhost:8000/api/events', data)
          .then(response => {
            console.log(response.data);
            this.$router.push({ name: 'ListEvent' });
          window.alert('Événement créé avec succés !');
        })
        .catch(error => {
            console.log(error);
          window.alert("Erreur lors de la création de l'événement !");
        });
      },
    },
  };
  </script>