<template>
  <div>
    <h1>Participants</h1>
    <div class="d-flex justify-content-md-evenly flex-md-row flex-column align-items-center">
      <div v-for="attendee in filteredAttendees" :key="attendee.id" class="card border border-dark border-2 rounded-3 m-5"
        style="width: 20rem;">
        <div class="card-body bg-white">
          <h5 class="card-title">Prénom : {{ attendee.name }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Numéro de téléphone: {{ attendee.phone_number }}</h6>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center" v-if="!filteredAttendees.length">
      <p>Pas encore de participants pour cet événement</p>
    </div>
    <div class="d-flex justify-content-center">
      <button class="btn btn-light border border-dark border-2" @click="goToListEvent()">Retour à la liste d'événement</button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import axios from 'axios';
import { Attendee } from '../types/Attendee';
import { goToListEvent } from '../function/goToListEvent';

export default defineComponent({
  data() {
    return {
      attendees: [] as Attendee[],
    };
  },
  created() {
    axios.get('http://localhost:8000/api/attendees')
      .then(response => {
        this.attendees = response.data.data as Attendee[];
        console.log(this.attendees)
      })
      .catch(error => {
        console.log(error);
      });
  },
  computed: {
    filteredAttendees() {
      const eventId = Number(this.$route.params.eventId);
      return this.attendees.filter((attendee: Attendee) => attendee.event_id === eventId);
    },
  },
  methods: {
    goToListEvent
  },
});
</script>