<template>
  <div>
    <h1>Événements</h1>
    <div class="row align-items-center justify-content-center" v-for="event in events" :key="event.id">
      <div class="card m-5 col-10 col-md-8 col-lg-6">
        <div class="card-body bg-white">
          <div class="d-flex justify-content-sm-between flex-md-row flex-column align-items-center bg-white">
            <h5 class="card-title">{{ event.name }}</h5>
            <h5 class="card-title">{{ formatDate(event.date.toString()) }}</h5>
          </div>
          <div class="d-flex justify-content-center justify-content-md-start mb-3 bg-white">
            <p class="card-text">{{ event.description }}</p>
          </div>
          <div class="d-flex justify-content-sm-between flex-md-row flex-column align-items-center bg-white">
            <button class="btn btn-light border border-dark border-2 mb-2 mb-md-0"
              @click="goToAttendeeForm(event.id as number, event.name as string)">Je veux participer !</button>
            <button class="btn btn-light border border-dark border-2 mb-2 mb-md-0"
              @click="goToListAttendee(event.id as number, event.name as string)">Liste des participants</button>
          </div>
        </div>
      </div>
      <div class="col-1">
        <i class="fa fa-user"></i>
        {{ event.attendees_count }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import axios from 'axios';
import { Event } from '../types/Event';
import { formatDate } from '../function/formatDate';
import { goToAttendeeForm } from '../function/goToAttendeeForm';
import { goToListAttendee } from '../function/goToListAttendee';

export default defineComponent({
  data() {
    return {
      events: [] as Event[],
    };
  },
  created() {
    axios.get('http://localhost:8000/api/events')
      .then(response => {
        this.events = response.data as Event[];
        this.events.reverse();
        console.log(this.events)
      })
      .catch(error => {
        console.log(error);
      });
  },
  methods: {
    goToAttendeeForm,
    goToListAttendee,
    formatDate
  },
});
</script>