<template>
  <nav class="navbar">
    <div class="container text-center d-flex flex-column">
      <div>
        <router-link to="/">
          <img class="LogoSite mt-5 border border-dark border-1" src="/cafe-logo.jpg" alt="logo du site">
        </router-link>
        <div class="mt-4 mb-5">
          <router-link to="/CreateEvent" class="btn btn-light border border-dark border-2"><i
              class="fa-solid fa-plus pe-3"></i>Créer un événement !</router-link>
        </div>
      </div>
    </div>
  </nav>
  <router-view />
</template>

<script lang="ts">
export default {
  name: "App",
};
</script>