* {
  font-family: 'Kaisei Opti', serif;
}
html{
  background-color: #FFDEDE;
}
h1{
  text-align: center;
}
.LogoSite {
  width: 200px;
}
#BGWHITE {
  background-color: white;
}
div{
  background-color: #FFDEDE;
}